.input-textfield {
  margin-right: 7px !important;
  margin-bottom: 7px !important;


}

.test {
  margin: auto !important;
  color: red;
}

.grido {
  margin-top: 10px;
  justify-content: center;

}

.gride {
  margin-top: 10px;
  justify-content: center;
  background-color: lightgrey;

}

.app {
  position: absolute;

}

.falstad {
  width: 100%;
  height: 700px;
  border: none;
  align-content: center;

}

.grida {
  /* margin-top: 15%; */
  justify-content: center;

}

.head {
  height: 50px;
  vertical-align: middle;

}

.linebreak{
  white-space: pre-line;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
}